# Compiled Python files
*.pyc

# hdevtools for Haskell linting
.hdevtools.sock

# rbenv local version
.ruby-version
.rbenv-gemsets
gems/

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
